/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your own custom global styles below */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; /* A light gray background for the centering effect */
}
